@charset "UTF-8"

body{
  background-color:#708090;
  color:#708090;
  font-family:Arial;
}

#wrapper{
  background-color:#708090;
  font-family:Arial;
  color:#FFFFFF;
}

h1{
 border:3px dashed #FFFFFF; 
}
