@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 body{
	 background-color: #506485;
 }
 
 #wrapper{
	 color: white;
	 width: 690px;
	 margin-left: 175px;
	 margin-right: 95px;
	 font-family:"Arial";
	 margin-top:66px;
 }
 
 small{
	 font-size:0.7em;
	 margin-top:10px;
	 margin-bottom:20px;
	 display:block;
 }
 
 h1{
	 font-size:2.5em;
	 border-bottom:1px solid #FFFFFF;
	 margin-bottom:28px;
	 font-weight:bold;
 }
 
 h2{
	 font-size:1.8em;
	 width:440px;
	 margin-bottom:64px;
 }
 
 h3{
	 font-size:1.5em;
	 margin-bottom:37px;
 }
 
 h4{
	 font-size:1.3em;
	 border-bottom:1px solid #FFFFFF;
	 margin-bottom:15px;
	 font-family:"Gill Sans";
 }
 
 p{
	 font-size:1em;;
 }
 
 #origin {
	 margin-bottom:13px;
	 background-color:#888e99;
 }
 
 header{
	 background-color:#888e99;
 }
 
 
 #aesthetics{
	 background-color:#888e99;
	 width:690px;
 }
 
 #suborigin{
	 background-color:#9b9da1;
	 margin-left:80px;
 }
 
 footer{
	 margin-top:15px;
	 background-color:#888e99;
 }
