@charset "UTF-8";

body{
	background-color:#605F51;
	margin: 0 10%;
}

#wrapper{
	background-color:#E4DADB;
	width:90%;
}

header {
	background-color:#2C6A0;
}

article {
	background-color:#5A7B7E;
}

footer {
	background-color:#774F50;
}

#logo{
	background-color:#77AF55;
	width:100px;
	float:left;
}

nav{
	background-color:#77DF55;
	width:200px;
	float:left;
}
